/* Additional app-specific styles */



/* 부제목 스타일 */
.subtitle {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 15px;
}

/* 작성자 정보 컨테이너 */
.author-info {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  gap: 10px; /* 간격 */
}

.divider {
  color: #ddd; /* 구분선 색상 연하게 */
}